body {
  margin: 0;
  padding: 0;
}

/*Banniere*/
#ban {
  background-image: url(../img/banniere.jpg);
  margin: 0 auto;
  width: 1280px;
  height: 248px;
  border-radius: 10px;
  margin-top: 1%;
}

/*Banniere*/
#ban h1 {
  width: 300px;
  height: 80px;
  text-align: center;
  background-color: beige;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  opacity: 75%;
  margin-left: 37.5%;
  border-radius: 10px;
  float: inline-end;
  position: absolute;
  left: 5%;
  top: 7.5%;
}

/*Bar de navigation*/
nav {
  top: 0;
  overflow: hidden;
  position: sticky;
  margin: 0 auto;
  height: 50px;
  width: 1280px;
  border: 2px solid #000000;
  border-radius: 10px;
}

/*Bar de navigation*/
#list {
  height: 50px;
  width: 1280px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ccc;
  border-radius: 10px;
}

/*Bar de navigation*/
.liste {
  height: 50px;
  width: 182.8px;
  float: left;
  margin: 0;
  padding: 0;
}

/*Bar de navigation*/
.liste a {
  display: block;
  height: 50px;
  color: #000000;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}

/*Bar de navigation*/
.liste a:hover {
  height: 50px;
  color: #ffffff;
  background-color: #a90331;
}

/*liste en général*/
li {
  list-style: none;
}

/*liste en général*/
#enbas {
  margin: 0;
  padding: 0;
}

.acc {
  color: #a90331;
}

.acc :hover {
  color: #000000;
}

/*comportement général*/
main {
  width: 1280px;
  margin: 0 auto;
  background-color: lightgrey;
  text-align: justify;
  border-radius: 10px;
}

/*comportement général*/
h2 {
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  color: #ffffff;
  background-color: #a90331;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  height: 50px;
  padding: 20px;
  margin: 0;
}

/*comportement général*/
img {
  padding-left: 25%;
}

/*comportement général*/
p {
  background-color: lightgrey;
  font-size: 20px;
  margin: 20px 30px;
  font-weight: bold;
  padding: 20px;
}

/*comportement général*/
h5 {
  text-align: center;
  padding: 20px;
}

/*comportement général*/
h5 a {
  text-decoration: none;
}

/*paragraphe de la page histoire*/
.para {
  font-weight: 100;
}

/*liste de la page culture*/
.clut {
  list-style: disc;
}

/*liste de la page culture*/
.cult {
  padding-left: 100px;
}

/*Page 404*/
#err404 {
  text-align: center;
}

/*dernier ul de la page culture*/
#last {
  padding-bottom: 20px;
}

/*formulaire*/
input[type="text"],
select {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 38%;
  display: block;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-sizing: border-box;
}

/*formulaire*/
input[type="submit"] {
  left: 50%;
  height: 50px;
  width: 300px;
  background-color: lightgrey;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 38%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: white;
  background-color: black;
}

/*formulaire*/
div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*label*/
form {
  text-align: center;
}

.p {
  margin: -2%;
  background-color: transparent;
}

#last {
  text-align: center;
}

.flex {
  display: inline;
}
 div {
    padding: 1% 0 0 0;
 }

 .taille {
    width: 480px;
    height: 320px;
 }